html, body {
    height: 100%;
    width: 100%;
}
body {
  background-color:#f0f0f0;
  padding:0;
  font-size:14px;
}
body.printPage {text-align:left;}
body.printPage h1 {margin:15px}
#yii-debug-toolbar-swither {top:50px}
#yii-debug-toolbar-swither .close  {opacity:1}



h1 {font-family:Calibri,Arial,san-serif;font-weight:bold;font-size:40px;color:#555;}
p {font-family:Calibri,Arial,san-serif;font-size:14px;}
h2 {font-size:23px;}
h3 {font-size:14px;}
.mainContainer {width:100%;background:#f0f0f0;font-family:Calibri,Arial,san-serif;}
.container {width:1000px;margin-right: auto;margin-left: auto;background:#f8f8f8;padding:20px;border:3px solid #ddd;}
.container:hover {border:3px solid #d0d0d0;background:#fff;}
.row  {margin:5px 20px 5px 20px;}
.row:before {display:table;}
.row:after {clear:both;}
.row h1, .row h2 {text-align:center;}
.row p {text-align:left;margin:7px 10px 7px 10px;}
.color-bg {background:#f6f6f6;border:3px solid #f0f0f0;}
.gallery img:hover {border:1px solid #f6f6f6;}


.info-table {border:1px solid #ccc;font-size:14px;}
.info-table th {background: #f0f0f0;border-bottom:1px solid #ccc;text-align:center;padding:0 5px;}
.info-table td {text-align:center;}
.info-table tr:nth-child(2n+1) {background:#f0f0f0;border-bottom:1px solid #ccc;border-top:1px solid #ccc;}
.info-table tr:nth-child(2n) {background:#fff;}
.vertical-size tr {height:50px;font-size:18px;}
.vertical-size td {width:140px;}

.choords {padding:10px 0;}

.b-headContainer {width:1000px; height:150px;margin:0 auto;}
.b-headContainer .logo {float:left;width:206px;height:136px;margin-top:15px;border:3px solid #ddd;}
.b-headContainer .logo img {width:200px;height:130px;border:3px solid #f6f6f6;}
.b-headContainer .handler {float:left;padding-left:50px;text-align:center;}
.handler h2 {line-height:0.6;}

.b-mapContainer {width:100%;margin:10px;display:table;}
.b-mapContainer .address {float:left;width:417px;height:250px;}
.b-mapContainer .address-no-map {float:left;width:100%;height:180px;}
.b-mapContainer .address p,.b-mapContainer .address-no-map p {padding-left:10px;font:normal 18px Calibri,Arial,san-serif;margin-top:30px;}
.b-mapContainer .map-widget {float:right;width:483px;padding:3px 3px 3px 0;}

.about {padding:10px 0;}

.first-line {padding:10px 0;}

.b-block-elements {float:left;width:300px;padding:0 20px 10px;display:table;}
.b-block-elements img {width:170px;height:400px;margin:0 50px;}
.b-block-elements-sizes {float:right;width:530px;padding:0 20px 10px;display:table;}
.b-first-line-img, .b-second-line-img {width:100%;padding:20px;display:table;}
.b-first-line-img img, .b-second-line-img img {width:400px;height:300px;}
.b-first-line-img-left, .b-second-line-img-left{float:left;}
.b-first-line-img-right, .b-second-line-img-right{float:right;}

.second-line {padding:10px 0;}
.third-line {padding:10px 0;}
.projects {padding:10px 0;text-align:center;}
.projects p {text-align:left;}
.b-hotel-img img {width:299px;height:215px;padding:15px 15px;}
.b-house-img {width:100%;padding:20px 20px 20px 20px;display:table;}
.b-house-img-left img, .b-house-img-right img{width:400px;height:300px;margin-top:5px;}
.b-house-img-left {float:left;}
.b-house-img-right {float:right;}
.b-banya-img {width:100%;padding:20px 20px 20px 20px;display:table;}
.b-banya-img-left img, .b-banya-img-right img{width:400px;height:300px;margin-top:5px;}
.b-banya-img-left {float:left;}
.b-banya-img-right {float:right;}

.catalog {padding:10px 0;}
.guest-info {padding:10px 0;}
.full-table {width:100%;}

footer {padding:10px 0;}
.footer-container {width:1000px;margin-right: auto;margin-left: auto;padding:0 20px;}
.b-contacts-company-name {float:left;}
.cvek-logo {cursor:pointer;float:right;margin-top:-30px;margin-right:30px;height:25px;width:82px;background:url('/themes/business/gfx/cvek_logo.png') no-repeat;}
.cvek-logo:hover {background-position:0 -26px;}
.metrika {margin:0 456px;width:88px;}
